<!--
<nav class="c-navigation is-fixed">
  <div class="c-navigation__container u-container" id="titles">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Presentación</a>
    <a class="c-navigation__item {% if page.url == '/articles/' %}is-active{% endif %}" href="{{ "/articles/" | prepend: site.baseurl }}">Divulgación</a>
    <a class="c-navigation__item {% if page.url == '/technical/' %}is-active{% endif %}" href="{{ "/technical/" | prepend: site.baseurl }}">Research</a>
    <a class="c-navigation__item {% if page.url == '/applets/' %}is-active{% endif %}" href="{{ "/applets/" | prepend: site.baseurl }}">Applets Interactivas</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">Academic CV</a>

</div>
</nav>
-->

<nav class="c-navigation" id="navigation_bar">
    <a href="{{ "/" | prepend: site.baseurl }}">Presentación</a>
    <a href="{{ "/articles/" | prepend: site.baseurl }}">Divulgación</a>
    <a href="{{ "/technical/" | prepend: site.baseurl }}">Research</a>
    <a href="{{ "/applets/" | prepend: site.baseurl }}">Applets Interactivas</a>
    <a href="{{ "/about/" | prepend: site.baseurl }}">Academic CV</a>
    <a href="javascript:void(0)" id="menu_but" class="icon" onclick="addToMenu()">&#9776;</a>
</nav>


<script>

var menu_cerrado = true; //Menu state

//Open or close the menu, simply by changing the class of the navigation bar
function addToMenu() {
    
    var bar = document.getElementById("navigation_bar");

    if (menu_cerrado) bar.className = "c-navigation__responsive";  
    else bar.className = "c-navigation";  

    menu_cerrado = !menu_cerrado; //Prepare for next action

} 
</script>
