<!--
<nav class="c-navigation is-fixed">
  <div class="c-navigation__container u-container" id="titles">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Presentación</a>
    <a class="c-navigation__item {% if page.url == '/articles/' %}is-active{% endif %}" href="{{ "/articles/" | prepend: site.baseurl }}">Divulgación</a>
    <a class="c-navigation__item {% if page.url == '/technical/' %}is-active{% endif %}" href="{{ "/technical/" | prepend: site.baseurl }}">Research</a>
    <a class="c-navigation__item {% if page.url == '/applets/' %}is-active{% endif %}" href="{{ "/applets/" | prepend: site.baseurl }}">Applets Interactivas</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">Academic CV</a>

</div>
</nav>
-->

<nav class="c-navigation" id="titles">
    <a href="{{ "/" | prepend: site.baseurl }}">Presentación</a>
    <a href="{{ "/articles/" | prepend: site.baseurl }}">Divulgación</a>
    <a href="{{ "/technical/" | prepend: site.baseurl }}">Research</a>
    <a href="{{ "/applets/" | prepend: site.baseurl }}">Applets Interactivas</a>
    <a href="{{ "/about/" | prepend: site.baseurl }}">Academic CV</a>
    <a href="javascript:void(0)" class="icon" onclick="addToMenu()">&#9776;</a>
</nav>


<script>
function addToMenu() {
  var x = document.getElementById("titles");
  if (x.className === "c-navigation") {
    x.className += "__responsive";
  } else {
    x.className = "c-navigation__item";
  }
} 
</script>
